In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("spam.csv", encoding = "iso-8859-1")

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4217,ham,Actually i'm waiting for 2 weeks when they sta...,NaN,NaN,NaN
2282,ham,Whom you waited for yesterday,NaN,NaN,NaN
994,ham,"I can't, I don't have her number!",NaN,NaN,NaN
1809,ham,"Aight, I'll ask a few of my roommates",NaN,NaN,NaN
3782,ham,Can you do online transaction?,NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
df.rename(columns = {"v1":"class", "v2":"message"}, inplace = True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   class    5572 non-null   int64
 1   message  5572 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [18]:
df.drop(columns = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

KeyError: "['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'] not found in axis"

In [20]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [21]:
df['class'] = encoder.fit_transform(df['class'])

In [22]:
df.sample(5)

      class                                            message
3826      1  Congratulations U can claim 2 VIP row A Ticket...
2377      1  YES! The only place in town to meet exciting a...
1952      0          Nah im goin 2 the wrks with j wot bout u?
2246      1  Hi ya babe x u 4goten bout me?' scammers getti...
4370      0  Purity of friendship between two is not about ...

In [23]:
df.isnull().sum()

class      0
message    0
dtype: int64

In [24]:
df.duplicated().sum()

403

In [26]:
df = df.drop_duplicates(keep = 'first')